[submodule "codai_2_0_front_end/modulo_6/modulo_5/aulas_git_e_paas/04_entrega_do_projeto_nikel/nikel"]
	path = codai_2_0_front_end/modulo_6/modulo_5/aulas_git_e_paas/04_entrega_do_projeto_nikel/nikel
	url = https://github.com/Lucasgyn94/js-nikel.git
