@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #3c63b5;
    padding: 0.5rem;
}

header > p {
    display: inline-block;
    margin: 1.5rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 3rem;
}

img {
    max-width: 600px;
    width: 100%;
}

h2 {
    font-size: 3rem;
    margin: 0.75rem 0px;
}

.btn-saiba-mais {
    padding: 1.125em 3em;
    border-radius: 48px;
    border: 1px solid #3c63b5;
    background-color: #3c63b5;
    color: #ffffff;
    margin-top: 1.5rem;
    font-size: 1rem;
}

hr {
    border: 1px solid #c8c5c5;
}

footer {
    padding: 2.25rem;
}

footer > p {
    color: grey;
    text-align: center;
    font-size: 0.875rem;
}