@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
}
main {
    margin-bottom: 3rem;
    padding: 1rem;    
}

header {
    background-color: #3357c4;
    padding: 1.5rem;
    font-weight: 900;
}

header > p{
    display: inline-block;
    color: white;
    font-size: 1.25rem;
    padding-left: 2rem ;

}

.introducao {
    text-align: center;
    margin-bottom: 1em;
       
}


.introducao, .descricao > img {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 6rem;
}

.introducao h2 {
    font-size: 4rem;
}

.introducao h2, .introducao p {
    margin-bottom: 1.5rem;
}

h2, .introducao-btn {
    font-weight: 800;
}

.introducao-btn {
    padding: 1.5em 4em;
    border-radius: 50px;
    background-color: #3357c4;
    color: white;
    font-size: 1rem;
}

.descricao {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.descricao h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.descricao > p {
    font-size: 1rem;
    
}

footer {
    border-top: 2px solid rgb(241, 238, 238);
    padding: 1.5rem;
    text-align: center;
}

footer p {
    color: grey;
}