
:root {
    --cor-primaria: #198cf1;
    --cor-secundaria: rgb(30, 252, 23);
    --background-color: #3a3a3a;
    --background-light-color: #fff;
    --color-text-dark: #fff;
    --color-text-light: #3a3a3a;
}