.btn.button-login {
    border-radius: 10px;
    background-color: #4e0070;
    color: #ffffff;
    width: 50%;
    margin: 0 25%;
}

.btn.button-login:hover {
    background-color: #4c79d3;
    color: #ffffff;
}

